{% extends 'base.html.twig' %}


{% block a %}
 		<nav class="main-nav">
			<ul class="main-nav__list">
				<li class=""><a href="/index">Inicio</a></li>
				
				<li class=""><a href="/lista-salas">Salas</a>
				</li>
					<li class=""><a href="/about">Acerca de</a></li>
				<li class=""><a href="/contacto">Contáctanos</a></li>
			</ul>
		
		</nav>
{% endblock %}	

{% block body %}

	<!-- Page Heading
		================================================== -->
		<div class="page-heading jarallax" data-jarallax data-speed="0.2">
			<div class="page-heading__inner">
				<div class="container">
					<h1 class="page-heading__title">Login</h1>
					<ol class="breadcrumb page-heading__breadcrumb">
						<li class="breadcrumb-item"><a href="/index">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Login</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->
		
		<!-- Content
		================================================== -->
		<main class="site-content">
		
		<div class="section-content">
			<div class="container">
		
				<div class="row">
					<div class="col-md-8 ml-md-auto mr-md-auto">
		
						<div id="booked-profile-page">
							<div id="booked-page-form">
						
								<ul class="booked-tabs nav login bookedClearFix" id="booked-tabs" role="tablist">
				
									<li><a href="#profile-register" id="profile-register-tab" data-toggle="tab" role="tab" aria-selected="false"><i class="booked-icon ion-locked"></i>Resgistrate</a></li>
								
								</ul>
						
								<div class="tab-content">
						
									<div id="profile-login" class="booked-tab-content tab-pane fade show active" role="tabpanel" aria-labelledby="profile-login-tab">
										<div class="booked-form-wrap bookedClearFix">
											<form method="post">
		
									<div id="profile-register" class="booked-tab-content tab-pane" role="tabpanel" aria-labelledby="profile-login-tab">
										<div class="booked-form-wrap bookedClearFix">
											
                                             {# {% for flash_error in app.flashes('verify_email_error') %}
                                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                            {% endfor %} 

                                            <h1>Register</h1>
											<label>
 											{{ form_start(registrationForm) }} #}
{# 											 
											 {% if error %}
                                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'register') }}</div>
                                                {% endif %} #}

												{% if error %}
                                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'register') }}</div>
                                                {% endif %}
												
                                                {% if app.user %}
                                                    <div class="mb-3">
                                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                                    </div>
                                                {% endif %}
												
 												<label for=registrationForm>Nombre</label>
                                                <input type="text" name="nombre" class="form-control" required autofocus>
                                                <label for="inputPassword">Apellidos</label>
                                                <input type="text" name="apellidos" class="form-control" required>
 												<label for="inputEmail">Correo</label>
                                                  <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                                <label for="inputPassword">Contraseña</label>
                                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

												 <input type="hidden" name="_csrf_token"
                                                    value="{{ csrf_token('authenticate') }}"
                                                >

 												<label for=registrationForm>Fecha_nac</label>
                                                <input type="date" name="date" class="form-control" required autofocus>
                                                
													   <button class="btn btn-lg btn-primary" type="submit">
                                                    Register
                                                </button>

												
{#                                            
                                                {{ form_row(registrationForm.email) }}
                                                {{ form_row(registrationForm.plainPassword, {
                                                    label: 'Password'
                                                }) }}
                                                {{ form_row(registrationForm.agreeTerms) }}

                                                <button type="submit" class="btn">Register</button>
                                            {{ form_end(registrationForm) }} #}
											</label>
									<div id="profile-forgot" class="booked-tab-content fade tab-pane" role="tabpanel" aria-labelledby="profile-forgot-tab">
										<div class="booked-form-wrap bookedClearFix">
											<form method="get" action="#" class="wp-user-form">
												<div class="form-group">
													<input type="text" name="user_login_forgot" class="form-control" value="" size="20" id="user_login_forgot" tabindex="1001" placeholder="What is your email address?">
												</div>
												<input type="submit" name="user-submit" value="Reset my password" class="user-submit btn btn-lg btn-primary" tabindex="1002">
											</form>
										</div>
									</div>
						
								</div>
						
							</div><!-- END #booked-page-form -->
						</div>
					</div>
				</div>
		
			</div>
		</div>
		
		
		</main>

{% endblock %}
